#morse {
  display: flex;
  width: 20vw;
  height: 20vw;
  transition: width 0.5s, height 0.5s;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#morse.active {
  width: 30vw;
  height: 30vw;
}


#heart {
  position:absolute;
  display: flex;
  width:30%;
  z-index:-1;
  filter: drop-shadow(10px 0px 0px 0px #960090);
}