/*
canvas {
  display: block;
}

button {
  width: 30vw;
  height: 10vh;
  background-color: #000;
  color: #FFF;
  font-family:'Courier New', Courier, monospace;
  font-size: 1.5em;
  border:none;
  position: fixed;
}

#start {
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

#status{
  position: fixed;
  top: 80vh;
  left: 50vw;
  transform: translate(-50%, -50% );
  color: #960090;
  font-family:'Courier New', Courier, monospace;
  font-size: 1.5em;
}*/

#morse {
  display: flex;
  width: 20vw;
  height: 20vw;
  transition: width 0.5s, height 0.5s;
}

#morse.active {
  width: 30vw;
  height: 30vw;
}


#heart {
  position:absolute;
  display: flex;
  width:30%;
  z-index:-1;
  filter: drop-shadow(10px 0px 0px 0px #960090);
}