html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
button {
  width: 30vw;
  height: 10vh;
  background-color: #000;
  color: #FFF;
  font-family:'Courier New', Courier, monospace;
  font-size: 1.5em;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  position: fixed;
}

#start {
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

#morse {
  top: 30vh;
  left: 50vw;
  transform: translate(-50%, -50% );
  display: none;
  width: 20vw;
  height: 20vw;
}

#morse.active {
  background-color: #fff;
}

#status{
  position: fixed;
  top: 80vh;
  left: 50vw;
  transform: translate(-50%, -50% );
  color: #960090;
  font-family:'Courier New', Courier, monospace;
  font-size: 1.5em;
}

#heart {
  position: fixed;
  height: 10vh;
  top: 65vh;
  left: 50vw;
  transform: translate(-50%, -50% );
  filter: drop-shadow(1.666vh 0px 0px #960090)
}