
body {
display:block;
}

#output {
  display: flex;
  align-items:center;
  margin:auto;
  justify-content:center;
  flex-direction:column;
  margin:10% 0 10% 0;
  }

  #names{
    display:flex;
    color:white; 
    font-family:'myFont';
    font-size: 1.6em;
    text-align: center;
    width:100%;
  }