
#logo-wrap{
  position:flex;
    margin:auto;
    margin-top:64%;
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-style:'myFont';
    align-items: center;
    justify-content: center;
}

  #experience.active{
    display:none;
    margin:auto;
  }

#animationHeart{
  position:fixed;
  height:100%;
  width:100%;
  background-color:none;
  z-index:-3;
}

