#quotes {
    text-align: center; 
    font-family: 'Voxel'; 
    font-size: 2.5em;
}


#arrayHearts{
    flex-direction:row;
    justify-content: space-evenly;
    margin: 4vh 8vh 0 8vh;
}

.move{
    transform:translateY(-50%)
}