/*elementi parte 1*/
input {
  display:flex;
  margin-top: 2vh;;
  width:90%;
  padding:2vh;
  background-color: white;

  font-size: 1.25em;
  font-family:'Redaction35'; 
  color:#FF36F7;
  
  outline: none;
  border:none;
}

input::placeholder {
  color:#FF9AFB;
  font-family:'Redaction35Italic'; 
}

#submitBtn {
  margin-top:10vh;
}

#submit{
  margin-top:0;
  position:absolute;
  width:auto;
  font-size: 1.25em;
  font-family:'Redaction35Italic'; 
}




/*elementi parte 2*/
#part2 {
  display:none;
}

#experience-btn {
  display:none;
}

span {
  font-family: 'Redaction35Italic'
}