@font-face {
  font-family: 'myFont';
  src: url('/public/assets/fonts/Voxel.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Redaction35';
  src: url('/public/assets/fonts/Redaction35-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Redaction35Italic';
  src: url('/public/assets/fonts/Redaction35-Italic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Redaction50';
  src: url('/public/assets/fonts/Redaction50-Regular.otf');
  font-weight: normal;
  font-style: normal;
}


html, body {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Redaction35', Courier, monospace;
  visibility: visible;
}

body {
  background-color:white;
  position: relative;
  display: flex;
  flex-direction: column;
  height:100vh;
  
  align-items: center;
  justify-content: space-around;
}


a {
  text-decoration: none;
  color:white;
  position:absolute;
  
  font-size: 1.8em;
  font-family: 'Redaction35Italic', Courier, monospace;
}
a.hover{
  text-decoration:underline;
}

button {
  font-family: 'Redaction35', Courier, monospace;
  border:none;
  background-color: none;
  /*background-color: #FF36F7;
  box-shadow: #960090;
  height:50px;*/
}

div {
  width:100%;
}

p {
  font-family: 'Redaction35', Courier, monospace;
  color:white;
  margin: 0.5em;
  font-size: 1.4em;
}


::-webkit-scrollbar {
  display: none;
}

/*background*/
#bgCanvas {
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  z-index:-5;
  display: block;
}


/*menu*/
#menu-btn {
  position: fixed;
  z-index: 5;
  background-color: #fff;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  display:flex;
  flex-direction:column;
  margin:auto;
  justify-content: space-around;
}

#menu {
  position: fixed;
  display: none;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  padding: 100px;
  align-items: center;
  justify-content: space-around;
  z-index:2;
}

/*heartpixel*/
#btnWhite {
  display: flex;
  margin:auto;
}

#btnPurple {
  display: flex;
  margin:auto;
}

#btnPurple.active  {
  display: none;
}

#btnWhite.active {
  display: none;
}

#menu-btn.active {
  background-color: #960090;
}

#menu.active {
  display: flex;
  padding:30% 0% 30% 0%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-elt{
  width:80%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:5% 0 5% 0;
  
  filter: drop-shadow(10px 0px 0px #960090)
}



/*content*/
#content-wrap{
  display: flex;
  width: 100vw;
  padding:50% 0 0% 0;
  margin-bottom: 15%;
  height:fit-content;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.content{
  margin:0 10% 0 10% ;
  width: 80%;
  /*word-break: break-all;*/
}



/*button experience*/
#experience {
  position: fixed;
  bottom:25px;
  display:flex;
  margin:10% 0  10% 0;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  width:100%;
  filter: drop-shadow(10px 0px 0px #960090)
}

.active {
  display:none;
  margin:auto;
}
