@font-face {
  font-family: 'Voxel';
  src: url('/public/assets/fonts/Voxel.otf');
}
@font-face {
  font-family: 'Redaction35';
  src: url('/public/assets/fonts/Redaction35-Regular.otf');
}
@font-face {
  font-family: 'Redaction35Italic';
  src: url('/public/assets/fonts/Redaction35-Italic.otf');
}
@font-face {
  font-family: 'Redaction50';
  src: url('/public/assets/fonts/Redaction50-Regular.otf');
}


html, body {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  
  font-family: 'Redaction35', Courier, monospace;
  visibility: visible;
}

body {
  position: relative;
  height:96vh;
  margin:2vh;

}

::-webkit-scrollbar {
  display: none;
}



/*posizionamento*/
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.down {
  position:absolute;
  bottom:0;
}

.content{
  margin: 2vh;
}



/*testi*/
p {
  font-family: 'Redaction35', Courier, monospace;
  color:white;
  font-size: 1.5em;
}



/*bottoni*/
btn {
  display:flex;

  font-family: 'Redaction35', Courier, monospace;
  border:none;
  background-color: none;
  
  filter: drop-shadow(10px 0px 0px #960090)
}

/*link alle pagine interno ai bottoni*/
a {
  position:absolute;
  text-decoration: none;
  color:white;
  
  font-size: 2em;
  font-family: 'Redaction35Italic', Courier, monospace;
}

a:hover{
  cursor: pointer;
  text-decoration: underline;
}



/*background*/
canvas {
  position:fixed;
  top: 0; 
  left: 0;
  bottom: 0; 
  right: 0;

  width:100%;
  height:100%;
  
  z-index:-5;
}




/*MENU*/
.menu {
  position: fixed;
  background-color: #fff;
  z-index: 1;
  
  display: none;

  width: 100vw;
  height: 100vh;
}

#menu-btn {
  position:absolute;
  display:flex;
  padding: 0.6vh;
  z-index: 2;
  top: 0px;
  right: 0px;
  width: 4vh;/*scrivo la larghezza come proporzione dell'altezza così da avere un menu sempre di forma quadrata*/
  height: 4vh;
}

#heart{
  background-color:#960090;
  width:100%;
  height:100%;
  -webkit-mask: url(/public/assets/SVG/iconHeart.svg) no-repeat center / contain;
  mask: url(/public/assets/SVG/iconHeart.svg) no-repeat center / contain;
}



/*menu active*/
.menu.active {
  position:fixed;
  display:flex;
}

#menu-btn.active {
  background-color: #960090;
}
#heart.active{
  background-color: white
}

.menu-elt{
  margin:4vh 0 4vh 0;
}

#about{
  position:fixed;
  bottom:4vh;

  display:flex;
  
  color:#FF36F7;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}



#scrollable-ctn{
  position:absolute;
  z-index:-3;
  top:0;
  left:0;
  
  width:100%;
  overflow-y: scroll;
}

.hidden {
  display: none
}

/*
#scrollable-elt {
  position: absolute;
  z-index:-3;
  top:0;
  left:0;
  width:100%;
  background-color:red;
  overflow-y: scroll;
}*/