@font-face {
  font-family: 'Voxel';
  src: url('/public/assets/fonts/Voxel.otf');
}
@font-face {
  font-family: 'Redaction35';
  src: url('/public/assets/fonts/Redaction35-Regular.otf');
}
@font-face {
  font-family: 'Redaction35Italic';
  src: url('/public/assets/fonts/Redaction35-Italic.otf');
}
@font-face {
  font-family: 'Redaction50';
  src: url('/public/assets/fonts/Redaction50-Regular.otf');
}


html, body {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Redaction35', Courier, monospace;
  visibility: visible;
}

body {
  position: relative;
  height:94vh;
  margin:2vh;
}

::-webkit-scrollbar {
  display: none;
}


/*posizione
definisco una classe con un flex verticale per la disposizione degli elementi nelle pagine*/
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*container*/
.centered-wrap {
    margin:auto;
    width: 100%;
    overflow-y: scroll;
}



/*testi*/
p {
  font-family: 'Redaction35', Courier, monospace;
  color:white;
  font-size: 1.5em;
}


/*bottoni*/
btn {
  display:flex;

  font-family: 'Redaction35', Courier, monospace;
  border:none;
  background-color: none;
  
  filter: drop-shadow(10px 0px 0px #960090)
}

a {
  position:absolute;
  text-decoration: none;
  color:white;
  
  font-size: 1.8em;
  font-family: 'Redaction35Italic', Courier, monospace;
}

a:hover{
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/*background*/
canvas {
  position:fixed;
  top: 0; 
  left: 0;
  bottom: 0; 
  right: 0;

  width:100%;
  height:100%;
  
  z-index:-5;
}

/*menu*/
.menu {
  position: fixed;
  background-color: #fff;
  z-index: 1;
  
  display: none;

  width: 100vw;
  height: 100vh;
}

#menu-btn {
  position:absolute;
  display:flex;
  padding:1%;
  z-index: 2;
  top: 0px;
  right: 0px;
  width: 5vh;/*scrivo la larghezza come proporzione dell'altezza così da avere un menu sempre di forma quadrata*/
  height: 5vh;
}

#heart{
  width: fit-content;
}


/*menu active*/
.menu.active {
  position:fixed;
  display:flex;
}

#menu-btn.active {
  background-color: #960090;
}
#heart.active{
  fill:white;
}

.menu-elt{
  margin:5% 0 5% 0;
}



/*content*/
/*#content-wrap{
  display: flex;
  width: 100%;
  overflow-y: scroll;
}*/

.content{
  margin: 2vh;
}



/*button experience*/
#btn-container {
  align-self:flex-end;
  justify-content: center;
  align-items:center;
  width:100%;
}



/*#imgBtn{
  filter: drop-shadow(10px 0px 0px 0px #960090);
}*/